services:
  backend:
    container_name: backend
    restart: unless-stopped
    build: ./backend
    ports:
      - "5001:3000"
    environment:
      PYTHONUNBUFFERED: 1
      UV_LINK_MODE: copy
      TF_MODEL_NAME: $TF_MODEL_NAME
      DB_USER: $DB_USER
      DB_PASS: $DB_PASS
      DB_NAME: $DB_NAME
      PANEL_PASSWORD: $PANEL_PASSWORD
      COOKIES_KEY: $COOKIES_KEY
      JWT_SALT: $JWT_SALT
      SESSION_TIME_SECONDS: $SESSION_TIME_SECONDS

  frontend:
    container_name: frontend
    restart: unless-stopped
    build: ./frontend
    ports:
      - "5000:3000"

  redis:
    image: redis:8-alpine
    container_name: redis
    restart: unless-stopped
    command: redis-server --loglevel warning --requirepass $REDIS_PASS # Save every 60 seconds if at least 1 key changed. Save to /data
    ports:
      - "6379:6379"

  db:
    image: postgres:17-alpine
    restart: always
    environment:
      POSTGRES_USER: $DB_USER
      POSTGRES_PASSWORD: $DB_PASS
      POSTGRES_DB: $DB_NAME
    volumes:
      - "./data:/var/lib/postgresql/data/"

  nginx:
    image: nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
