services:
  backend:
    container_name: backend
    restart: unless-stopped
    build: ./backend
    ports:
      - "5001:3000"
    environment:
      PYTHONUNBUFFERED: 1
      UV_LINK_MODE: copy
      DB_USER: $PG_USER
      DB_PASSWORD: $PG_PASS
      DB_NAME: $PG_DB

  frontend:
    container_name: frontend
    restart: unless-stopped
    build: ./frontend
    ports:
      - "5000:3000"

  redis:
    image: redis:8-alpine
    container_name: redis
    restart: unless-stopped
    command: redis-server --loglevel warning --requirepass $REDIS_PASS # Save every 60 seconds if at least 1 key changed. Save to /data
    ports:
      - "6379:6379"

  db:
    image: postgres:17-alpine
    restart: always
    environment:
      POSTGRES_USER: $PG_USER
      POSTGRES_PASSWORD: $PG_PASS
      POSTGRES_DB: $PG_DB
    ports:
      - "5432:5432"
    volumes:
      - "./data:/var/lib/postgresql/data/"
